@import url(/MENU%20DE%20ACERCA.CSS);
    
*{
    padding: 0;
    margin: 0;
}

header{
    width:100%;
    }

body{
    margin: auto;
    background:#000;
    color: azure
}

.contenedor{
    width: 50%;
    max-width: 1000px;
    padding:3px 3px;
    margin:left; 
    height: 100%;
    float:left;
    background: 
}

.contenedor p{
    background:#a4a54f;
    width:100%;
    max-width: 1000px; 
    font-family:arial italic;
    font-size: 20px
}

.contenedor h1{
    font-family:regular italic;
}

.contenedor h2{
    padding: 10px 10px;
    text-decoration: underline;
}

.contenedor h3{
    padding: 10px 10px;
    text-decoration: underline;
}

.img{
    padding: 0;
    margin: 0;
}


.img{
    width: 40%;
    padding: 20px 10px;
    height: auto;
    float:left;
    box-sizing: border-box;
}

.img img{
    border-radius: 30%;
    width: 100%;
    padding: 2px;
    margin:5px;
}

.footer{
    width: 100%;
    background:#504b4b;
    color:#fff;
    clear:both;
    -webkit-border-radius:10px;
    text-align: center;
    text-decoration: underline;
    font-size: 10px;
    font-family:cursive;
    box-shadow: 0.5px 3px #413d3d; 
    -webkit-box-shadow: 0.5px 3px #413d3d;
}