* {
	margin:0;
	padding:0;
}

body{
	background: #000;
}

header, main,footer {
	width:80%;
	max-width:1000px;
	margin:0.50% auto;
	height:auto;
}

header nav {
	width:55%;
	max-width:1000px;
	margin:0.50% auto;
	height:auto;
	background:#528FD5;
	overflow:hidden;
	border-radius:10px;
}

header nav ul {
	list-style:none; 
}

header nav ul li {
	float:left;
}

header nav ul li a {
	padding:10px 26px;
	display:inline-block;
	color:#fff;
	text-decoration:none;
}

header nav ul li a:hover{
background: #2E55D5
}

header nav ul li a:hover {
	cursor: pointer
}

header nav ul li a:hover{
	text-decoration: underline;
}